html{
	background-color: #edf2c5;
}

.Vegetables {
	width: 271px;
	height: 62px;
	font-family: Arial;
	font-size: 44px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.82;
	letter-spacing: normal;
	text-align: left;
  	color: #778a50;
}

.NearIcon {
	height: 15px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.57;
	letter-spacing: normal;
	text-align: left;
	color: #778a50;
}

.N1 {

}

.N2 {
	
}


/*whole body*/
.Container {
	width: 69px;
	height: 23px;
	font-family: Arial;
	font-size: 16px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.25;
	letter-spacing: normal;
	text-align: left;
	color: #edf2c5;
}

/*Same things*/

.SubtitleAll{
	height: 23px;
	font-size: 16px;
	font-weight: 900;
	line-height: 2.25;
	color: #edf2c5;
	width: 444px;
	height: 45px;
	border-radius: 3px;
	background-color: #778a50;

}

.All{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
}

/*Photo*/

.Icon {
	width: 25px;
	height: 25px;
	object-fit: contain;
}

.PhotoBig {
	width: 940px;
	height: 448px;
	object-fit: contain;
}

.PhotoAll{
	width: 140px;
	height: 140px;
	object-fit: contain;
	padding-right: 12px;
	margin-top: 15px;
}

/*nav*/

.SubtitleAll li {
	float: left;
	list-style: none;
	display: flex;
	padding: 30px;
}

.SubtitleAll ul {
	width: 940px;
	height: 44px;
	border-radius: 3px;
	background-color: #778a50;
}

/*article & sidebar & footer*/
.Flex-area{
	display: flex;
}

.Flex-text{
	display: flex;
	width: 444px;
	height: 140px;
	background-color: #f7fbda;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15px;

}

.Article {
	width: 444px;
	height: 45px;
	border-radius: 3px;
	background-color: #778a50;
	line-height: 0;
}

.Sub-1{
	margin-right: 52px; 
	margin-top: 30px;
	height: 45px;
}

.Sub-2{
	margin-top: 30px;
	height: 45px;
}

.Content-first {
	width: 414px;
	height: 44px;
	line-height: 1.25;
	font-weight: normal;
	color: #7d7d7d;
}

.Content-second {
	width: 197px;
	height: 35px;
	line-height: 1.75;
	font-weight: normal;
	color: #7d7d7d;
}

.Content-third{
	width: 301px;
	height: 14px;
	line-height: 3;
	font-weight: normal;
	color: #edf2c5;
}